.heading{
  font-size: medium;
  text-align: center;
  
  
  }
  
  .App{
    min-height: 100vh;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  }
  
  .search-form{
   min-height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
   }
  
   .search-bar{
  
    width: 50%;
    border: none;
    padding: 10px;
  
   }
  
   .search-button{
    background-color:palevioletred; ;
    border:none;
    padding: 10px 20px;
    color: #fff;
   }
  
   .recepies{
     display:flex;
     justify-content: space-around;
     flex-wrap: wrap;
   }
  
   .image{
     border-radius: 50%;
     width: 100%;
     height: 100%;
   }